<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name="com.zyc.loghelper.MMKVRecordActivity"
            android:exported="false" />

        <activity
            android:name="com.zyc.loghelper.LocalLogActivity"
            android:exported="false" />

        <activity
            android:name="com.zyc.loghelper.LoggerActivity"
            android:exported="true" />

        <activity-alias
            android:name="com.zyc.loghelper.LoggerAlias"
            android:enabled="@bool/debug_activity_enabled"
            android:exported="true"
            android:icon="@drawable/ic_launcher_background"
            android:label="日志调试"
            android:targetActivity="com.zyc.loghelper.LoggerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>