<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".MMKVRecordActivity"
            android:exported="false" />

        <activity
            android:name=".LocalLogActivity"
            android:exported="false" />
        <activity
            android:name=".LoggerActivity"
            android:exported="false">

        </activity>

        <!-- 启动别名，通过资源控制是否启用 -->
        <activity-alias
            android:name=".launcher.DebugLauncher"
            android:enabled="@bool/debug_activity_enabled"
            android:exported="true"
            android:icon="@drawable/ic_launcher_background"
            android:label="loghelper"
            android:targetActivity=".LoggerActivity"> <!-- 必须允许外部启动 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>


</manifest>